.idea/
IRTF_instructions.txt
__pycache__/
irtf_fcharts.tgz
next/
select_targets.png
targetsLorUCDpi33.fits
targetsLorUCDpi33_cut.fits
targetsLorUCDpi33_edited.txt
targetsLorUCDpi33_edited_irtf
targetsLorUCDpi33_edited_irtf_nostds
targetsLorUCDpi33_larger.fits

